@import 'mixins';

.parentContainer {
	.profileImage {
		filter: drop-shadow(0 0 0.2rem #142312);
	}

	.passwordInput {
		background-color: transparent;
		border: none;
		display: inline;
		margin-left: 10px;
		outline: none;
		caret-shape: block;
	}
}
